table,th{
    border: 1px solid black;
    border-collapse: collapse; 
    text-align: center;
}
td{
    border: 1px solid black;
}
tr:nth-child(even)/* go to the parent of tr that is table and get me the even nth childs that is all even nth tr*/
{
    background-color:lightgreen;
}
form input:hover{
    background-color: rgb(183, 202, 202);
}
form >input{  /*imply those input tag which are direct children of form*/
    background-color: aqua;
}
p::first-letter{
    color:brown
}
#content{
    color:rgb(15, 9, 1);
}
#intro{
    color:cadetblue;
}
/*    #idname{}    (for multiple tags of same type)
     .classname{}   (for different tags of same use of styling)   */
.sameline {
    display: flex;
    justify-content: space-between;
}
      
.sameline div,
.sameline a {
    margin: 0;
    padding: 0;
}
      